$def with (retval=None)

$var title: 管理平台

<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="/static/content.css" type="text/css" media="screen" charset="utf-8"/>
      <script type="text/javascript" src="/static/jquery.js"></script>
      <script type="text/javascript" src="/static/base.js"></script>
      <script type="text/javascript" src="/static/jquery.flot.js"></script>
      <script type="text/javascript" src="/static/jquery-ui.js"></script>
      <script type="text/javascript">

        function show_help(obj)
        {
             $$('#' + obj).show('fast');
        }   

        function hide_help(obj)
        {
             $$('#' + obj).hide('fast');
        }

        function start_action(inn_url)
        {
             try{
                     $$.get(inn_url, "mem_info", function(data){
                     alert(data);
                     document.getElementById("inner_content").innerHTML=data;
        }, "text");

        get_result(inn_url);
         }catch(exception){
            alert("reset error");
        }
        }

        function stop_action(inn_url)
        {
         try{
            $$.get(inn_url, "mem_info", function(data){
               //alert(data);
               document.getElementById("inner_content").innerHTML=data;
            }, "text");
         }catch(exception){
            alert("reset error");
        }
        }

        function status_action(inn_url)
        {
         try{
            $$.get(inn_url, "mem_info", function(data){
               //alert(data);
               document.getElementById("inner_content").style.display="block"
               document.getElementById("inner_content").innerHTML=data;
             
            }, "text");
         }catch(exception){
            alert("reset error");
         }
        }
      </script>
</head>

<body>
  <div class="content_show">
    <div style="float:left;margin-left:5px;border:0px solid gray; width:900px;">
      <div style="float:left;margin-left:20px;" scrolling="auto">

        <dl class="config">

          <li><a href="javascript:startCommandRequest('platform','/manage/admin/start/')"
          onMouseOver="show_help('base');"
          onMouseOut="hide_help('base');">启动平台</a></li>

          <br>

          <li><a href="javascript:stop_action('/manage/admin/stop/')"
          onMouseOver="show_help('base');"
          onMouseOut="hide_help('base');">停止平台</a></li>

          <br>

          <li><a href="javascript:status_action('/manage/admin/status/')"
          onMouseOver="show_help('base');"
          onMouseOut="hide_help('base');">平台状态</a></li>

          <br>

        </dl>

        <div id="xxinner_content" class="xxinner_content">
        </div>

        <div id="inner_content" class="inner_content">
        </div>

      </div>
    </div>
  </div>

  <div class="groups_help" id="base" style="display:none;">
    <h1>启动平台 help information</h1>
  </div>

  <div class="groups_help" id="svc" style="display:none;">
    <h1>停止平台 help information</h1>
  </div>

  <div class="groups_help" id="lsr" style="display:none;">
    <h1>平台状态 help information</h1>
  </div>

  <script type="text/javascript">
  </script>
</body>
</html>
