
body{
	font: 0.8em "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	color: #343434;
	background: white;
	margin: 0;
	padding: 0;
	width:1000px;
	margin:0px auto;
   }
   

.header{
   background-position:top center;
   background-color:white;
   position:relative;
   width:auto;
   height:130px;
   color: black;
}

.header img{
   float:left;
}

.infobar{
   top:-15px;
   position:relative;
   margin:0px auto;
   height:25px;
   font-size:1em;
   text-align:right;
   line-height:30px;
   background:#2e2e2e;
   color:white;
}

.infobar li{margin-right:12px; float:right;}

#nav {
    position:relative;
	list-style: none;
	padding: 0;
	margin: 10px 0 20px 0;
	background: #2e2e2e;
	display: block;
	font-size: 1em;
	height:35px;
	text-transform:capitalize;
	text-align:center;
}


#nav li {
	float:left;
	position:relative;
	width:auto;
	overflow:hidden;
}

#nav li ul{
   z-index:1000;
   float:left:
}

#nav a{
   display:block;
   background-color:#2e2e2e;
}

#nav a:hover{
    background:black;
}

#nav li a {
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	z-index:1000;
}

#nav li a:hover {
	background: #1b1b1b;
}

#nav li ul li{
    float:none;
}

#nav li ul a{
    height:40px;
    line-height:40px;
    padding:0 10px;
    text-transform:capitalize;
}

#nav .height-auto{
       line-height:15px;
       padding:5px 10px;
}
    	
.page{
   margin:0px auto;
   width:900px;
   position:relative;
   }

.indexpage{
   background-color:white;
   width:650px;
   position:relative;
   float:right;
   margin:0px auto;
   text-align:center;
}

.login{
   width:200px;
   height:200px;
   color:#123321;
   float:center;
   margin:0 auto;
}

ul{
   list-style:none;
   line-height:25px;
   }

.nav{
   width:200px;
   float:left;	
   }
   
.config{
   border:1px solid #888;
   border-radius:5px;
   width:200px;
   float:left;	
   background-color:white; 
   }
   
.cpumeminfo{
   border:1px solid #888;
   width:200px;
   height:150px;
   position:relative;
   top:0px;
   margin:0px; border: solid black 1px;
   background-color:white; 
   }
   
.meminfo{
   border:1px solid #888;
   width:200px;
   height:150px;
   position:relative;
   top:10px;
   margin:0px; border: solid black 1px;
   background-color:white; 
   }


.bigCPU{
   border:1px solid #888;
   width:500px;
   height:250px;
   position:relative;
   margin:0px; border: solid black 1px;
   }
   
.bigMEM{
   border:1px solid #888;
   width:500px;
   height:250px;
   position:relative;
   top:20px;
   margin:0px; border: solid black 1px;
   }


#bigChart{
   width:500px;
   height:550px;
   background:#EDF1F8;
   border: 2px solid #849BCA;
   margin-top:2px;
   margin-left:2px;
   float:left;
   overflow:hidden;
   position:absolute;
   left:0px;
   top:0px;
   cursor:move;
   float:left;
   z-index:1;
/*filter:alpha(opacity=50);*/
}

.buttoninfo{
   width:200px;
   height:50px;
   position:relative;
   top:20px;
   margin:0px; 
}

.blank{
   border:1px solid #888;
   width:200px;
   height:10px;
   position:relative;
   top:50px;
   margin:0px; border: solid black 1px;
   background-color:white; 
   }

div.configarea{
   border:1px solid #888;
   border-radius:5px;
   }

.iframecontent {
   width:1000px;
   height:600px;
   position:absolute;
   z-index:-1;
}
h2 {
	margin: 0;
	padding: 0.5em 0;
	color:#568945;
	font-family:Helvetica, Arial, Sans-serif;
}
p {
	margin: 0;
	padding: 0.4em 0;
	color:#686868;
	line-height:1.4em;
}
#content img.right {
	float: right;
	margin: 0 0 8px 8px;

}


div.group_nav{
   float:left;
   border:2px solid #888;
   text-align:center;
   }

div.group{
   <!--   border:2px solid #888; -->
   <!--   border-radius:5px; -->
   <!-- position:fixed; -->
   <!-- left:450px; -->
   <!-- right:20px;  -->
   <!-- top:34px; -->
   float:left;
   <!-- margin-top:-100px; -->
   <!-- margin-left:20px; -->
   <!-- width:300px; -->
   }

dt{
   background:#EEE;
   padding:5px;
   padding-left:20px;
   border-bottom:1px solid #CCC;
   border-top:1px solid #BBB;
   margin-bottom:-1px;
   }

dt span{
   float:right;
   
   }

dt span.hover{
   cursor:pointer;
   color:red;
   }

dd{
   margin-left:0px;
   }

