
body{
   margin:0 auto;
   font-size:12px;
   height:auto;
   width:1000px;
   }

.header{
   background-position:top center;
   background-color:white;
   position:relative;
   width:auto;
   height:110px;
   color: black;
   float:center;
   text-align:center;
}

.header img{
   float:center;
}

.logo { 
   height:110px;
   width:50px;
   float:left; 
   padding:22px 0 0 10px;
   background-color:white;
   }

.infobar{
   position:relative;
   width:900px;
   height:30px;
   font-size:1em;
   text-align:right;
   line-height:30px;
}

.infobar li{margin-right:12px; float:right;}

.navbar{
   background-color:white;
   position:relative;
   top:30px;
   width:900px;
   height:30px;
   margin:0px auto;
}
.navbar ul {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:1.5em;margin:0px auto;}
.navbar li {padding-left:35px;  float:left; display:inline;}





.indexpage{
   background-color:white;
   width:650px;
   position:relative;
   float:right;
}

.login{
   width:200px;
   height:200px;
   color:#123321;
   float:center;
   margin:0 auto;
}

ul{
   list-style:none;
   line-height:25px;
   }

.nav{
   width:180px;
   float:left;	
   }
   
.config{
   border:1px solid #888;
   border-radius:5px;
   width:180px;
   float:left;	
   background-color:white; 
   }
   
.blank{
   border:1px solid #888;
   width:200px;
   height:10px;
   position:relative;
   top:50px;
   margin:0px; border: solid black 1px;
   background-color:white; 
   }

div.configarea{
   border:1px solid #888;
   border-radius:5px;
   margin-left: 10px;
   }

.content_show{
   margin-top:10px;
   margin-left:5px;
   margin-bottom:10px;
   width:600px;
   float:left;	
   position:relative;
   height:auto;
   text-align:center;
   background-color:white;
   z-index:0;
   -moz-box-shadow:0px 0px 10px #222;
   -webkit-box-shadow:0px 0px 10px #222;
   box-shadow:0px 0px 5px #222;
   }

div.group_nav{
   float:left;
   border:2px solid #888;
   text-align:center;
   }

div.group{
   float:left;
   }

dt{
   background:#EEE;
   padding:5px;
   padding-left:20px;
   border-bottom:1px solid #CCC;
   border-top:1px solid #BBB;
   margin-bottom:-1px;
   }

dt span{
   float:right;
   
   }

dt span.hover{
   cursor:pointer;
   color:red;
   }

dd{
   margin-left:0px;
   }

