<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Demostdation</title>
<style type="text/css">
body{
    padding: 0px;
    margin: 20px 0px;
}
.chart{
    height:420px;
    border:1px solid #ccc;
    margin:20px 0px;
}

.indicatorBg{
    padding: 10px;
    margin: 0px;
    background-color: #b5b9ff;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Microsoft YaHei';
    font-size: 10pt;
}
.indicatorStyle{
    color: #020299;
    font-size: 22pt;
}
</style>
<body>
<div style="padding-left: 80px;padding-right: 80px;">
    <table style="width:100%;height:50px;margin-top:5px;">
        <td>
            <div class="indicatorBg">USED MEMORY<div id='usedmemory' class="indicatorStyle">182.3K</div></div>
        </td>
        <td>
            <div class="indicatorBg">TOTAL KEYS<div id='totalkeys' class="indicatorStyle">182.3K</div></div>
        </td>
        <td>
            <div class="indicatorBg">CLIENTS<div id='clients' class="indicatorStyle">182.3K</div></div>
        </td>
        <td>
            <div class="indicatorBg">COMMANDS PROCESSED<div id='cmdprocessed' class="indicatorStyle">182.3K</div></div>
        </td>
        <td>
            <div class="indicatorBg">UPTIME<div id='uptime' class="indicatorStyle">182.3K</div></div>
        </td>
    </table>
    <div id="line" class="chart"></div>
    <div id="graph" class="chart"></div>
    <div id="bar" class="chart"></div>
    <br>
    <script src="/js/echarts/esl.js"></script>
    <script src="/js/echarts.config.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bar.js"></script>
    <script src="/js/line.js"></script>
    <script src="/js/graph.js"></script>
    <script src="/js/indicator.js"></script>
</div>
</body>
</html>
